@using Microsoft.AspNetCore.Identity
@model SignalChat.ViewModels.ChangeRoleViewModel
    <h2>Change roles for user @Model.UserName</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div style="margin:auto">
            @foreach (IdentityRole role in Model.AllRoles)
            {
                <input type="checkbox" name="roles" value="@role.Name"
                       @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
                }
        </div>
        <button type="submit" class="dws-submit">Save</button>
    </form>