@model Chat

<div class="chat-body" id="chatbody">
    @foreach (var message in Model.Messages)
    {
        <div class="message" id="div-@message.Id" onclick='EditMess(@message.Id, "@message.Text", "@ViewBag.UserRole", "@message.UserName")'>
            <header>@message.UserName:</header>
            <p id="@message.Id">@message.Text</p>
            <footer>@message.DateTime</footer>
        </div>
    }
</div>

<div class = "chat-input">
        <input type="hidden" id="chatId" value="@Model.Id" />
        <input type="hidden" id="userName" value="@ViewContext.HttpContext.User.Identity.Name"/>
        <input type="button" value="<<" class="settings" onclick='SetRoom("@ViewBag.UserRole")'/>
        <input name="messageText" type="text" id="message" />
        <input type="submit" id="send" value="Send" />
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script type="text/javascript">
    var userName = document.getElementById("userName").value;
    var chatId = document.getElementById("chatId").value;

    var connection = new signalR.HubConnectionBuilder()
            .withUrl("/chatHub")
        .build();

        connection.start().then(function () { }).catch(function (err) {
            return console.error(err.toString());
        });

    document.getElementById("send").addEventListener("click", function (event) {
        var message = document.getElementById("message").value;
        $.ajax({
            url: "@Url.Action("SendMessage", "chat")",
            type: "POST",
            data: {
                'chatId': chatId,
                'messageText': message
            },
            dataType: 'json'
        });
        connection.invoke("Send", message, userName, chatId).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });


    var editMessageModal = document.getElementById("edit-message-modal")
    var setRoomModal = document.getElementById('set-room-modal')
    var MessageId = 0;

    function EditMess(Id, Text, userRole, UserName) {
        if (userRole == "SuperAdmin" || UserName == userName) {
            editMessageModal.classList.add('active');
            document.getElementById("message-text-modal").value = Text;
            MessageId = Id;
        }
    }

    connection.on("BroadcastMessage", function (message, userName, ChatId) {
        @*var newMessageId;
         $.ajax({
        url: "@Url.Action("GetMessageId", "Home")",
        type: "POST",
        data: {
            'UserName': userName,
            'Text': message
        },
        dataType: 'json',
             success: function (Id) {
                 newMessageId = Id;
        }
         });
        console.log(newMessageId);*@
        if (chatId == ChatId) {
            document.getElementById("message").value = '';
            var mes = document.createElement("div");
            mes.classList.add('message')
            var header = document.createElement("header")
            header.appendChild(document.createTextNode(userName))
            var p = document.createElement("p")
            p.appendChild(document.createTextNode(message))
            var footer = document.createElement("footer")
            footer.appendChild(document.createTextNode(new Date()
                .toLocaleDateString() + ' ' + new Date().toLocaleTimeString()));
            mes.appendChild(header);
            mes.appendChild(p);
            mes.appendChild(footer);
            document.querySelector('.chat-body').append(mes);
        }
    });

    function SubmitEdit() {
    var newText = document.getElementById("message-text-modal").value
    $.ajax({
        url: "@Url.Action("EditMessage", "Home")",
        type: "POST",
        data: {
            'messageId': MessageId,
            'newText': newText
        },
        dataType: 'json'
    });
    connection.invoke("Edit", newText, MessageId).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
    }

    function DeleteMessage() {
    $.ajax({
        url: "@Url.Action("DeleteMessage", "Home")",
        type: "POST",
        data: {
            'messageId': MessageId,
        },
        dataType: 'json'
    });
    connection.invoke("Delete", MessageId).catch(function (err) {
        return console.error(err.toString());
    });
    event.preventDefault();
    }

    connection.on("EditMessage", function (newText, messageId) {
        document.getElementById(messageId).innerHTML = newText;
        editMessageModal.classList.remove('active');
    });

    connection.on("DeleteMessage", function (messageId) {
        var id = 'div-' + messageId;
        document.getElementById(id).innerHTML = '';
        editMessageModal.classList.remove('active');
     });

    function SetRoom(userRole) {
        var changeRoomType = document.getElementById('make-private');
        setRoomModal.classList.add('active');
        if (userRole == "SuperAdmin" || userRole == "Admin") {
            var forAdmin = document.getElementsByClassName('for-admin');
            for (let i = 0; i < forAdmin.length; i++) {
                forAdmin[i].classList.add('active');
            }
            if ('@Model.isClosed' == "True") {
                changeRoomType.value = "Make Public";
            }
            else {
                changeRoomType.value = "Make Private";
            }
        }
    }

    function roomTypeChange() {
        var changeRoomType = document.getElementById('make-private');
        if (changeRoomType.value == "Make Private") {
            $.ajax({
                url: "@Url.Action("MakePrivate", "Home")",
                type: "POST",
                data: {
                    'chatId': chatId,
                },
                dataType: 'json',
                success: function () {
                    changeRoomType.value = "Make Public";
                }
            });
        } else {
            $.ajax({
                url: "@Url.Action("MakePublic", "Home")",
                type: "POST",
                data: {
                    'chatId': chatId,
                },
                dataType: 'json',
                success: function () {
                    changeRoomType.value = "Make Private";
                }
            });
        }
    }

    function roomDelete() {
        setRoomModal.classList.remove('active');

        $.ajax({
            url: "@Url.Action("DeleteRoom", "Home")",
            type: "POST",
            data: {
                'chatId': chatId,
            },
            dataType: 'json'
        });
        connection.invoke("DeleteRoom").catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    }

    connection.on("DeleteRoom", function () {
        document.location.href = "@Url.Action("Index", "Home")";
    });
</script>

