<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SignalChat</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @{
        var userName = @ViewContext.HttpContext.User.Identity.Name;
    }
    <div class="navbar">
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Find", "Find", "Home")
        @Html.ActionLink("Private", "Private", "Home")
        @Html.ActionLink(@userName ?? "Unknown", "Index", "Home") @*fix that todo*@
    </div>

    <div class="main">
        @if (User.Identity.IsAuthenticated)
        {
            @await Component.InvokeAsync("Room")
        }
        <div class="chat">
            @RenderBody()
        </div>
    </div>
    <div class="modal" id="create-room-modal">
        @using (Html.BeginForm("CreateRoom", "Home", FormMethod.Post, new { @class = "modal-body" }))
        {
            <button type="button" class="close" onclick="closeModal()">X</button>
            <header>Create Room</header>
            <div>
                <input name="name">
            </div>
            <footer>
                <button type="submit">Create</button>
            </footer>
        }
    </div>

    <div class="modal" id="edit-message-modal">
        <div class="modal-body">
            <button type="button" class="close" onclick="CloseEditModal()">X</button>
            <header>Edit Message</header>
            <div>
                <input type="text" id="message-text-modal" />
                <input type="button" onclick="SubmitEdit()" value="Edit" />
                <input type="button" onclick="DeleteMessage()" value="Delete" />
            </div>
        </div>
    </div>

    <div class="modal" id="set-room-modal">
        <div class="modal-body">
            <button type="button" class="close" onclick="CloseRoomModal()">X</button>
            <header>Edit Room</header>
            <div>
                <input type="button" onclick="Leave()" value="Leave" />
                <input type="button" class="for-admin" onclick="roomTypeChange()" value="Make Private" id="make-private" />
                <input type="button" onclick="Users()" value="Members" />
                <input type="button" class="for-admin" onclick="roomDelete()" value="Delete" />
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
